:root{
	--cornerRadius: 20px;
	--itemSize: 240px;
	--smallItemFaktor: 0.8;
}

html, body{
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	scroll-behavior: smooth;
  background: #111111;
}

h1, h2, h3, h4, p{
  margin: 0;
  color: #c9c9c9;
  font-family: roboto;
}

.wrapperFlexDivLinks{
	display: flex;
}

.wrapperFlexDivRechts{
	display: flex;
	justify-content: flex-end;
}


.balkenLinks{
  width: 90%;
  height: 500px;
  border-radius: 0 var(--cornerRadius) var(--cornerRadius) 0;
  margin-top: 60px;
  background-image: url("../res/profile.jpg");
  background-size: cover;
  background-position: bottom;
  display: flex;
	flex-direction: column;
  align-items: center;
}

#greetingBalken{
	flex-direction: row;
}


.greetingDiv{
  width: max-content;
  border-radius: 0 var(--cornerRadius) var(--cornerRadius) 0;
  background-color: black;
  padding: 25px;
  padding-left: 40px;
}

.greeting1{
  font-size: 100px;
}

.greeting2{
  font-size: 20px;
}

.balkenRechts{
  width: 90%;
  height: 500px;
  border-radius: var(--cornerRadius) 0 0 var(--cornerRadius);
  margin-top: 60px;
  background-color: black;
  background-size: cover;
  background-position: bottom;
  display: flex;
	flex-direction: column;
  align-items: center;
}

.balkenHeader{
  padding-top: 25px;
	margin-bottom: auto;
	justify-self: center;
}

.balkenHeaderText{
	font-size: 40px;
}

.reelWrapper{
	width: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.projektItem{
	width: calc(var(--itemSize) * var(--smallItemFaktor));
	height: calc(var(--itemSize) * var(--smallItemFaktor));
  border-radius: var(--cornerRadius);
  background-color: green;
  padding: 15px;
	margin: 0 auto;
}

#mainItem{
	width: var(--itemSize);
	height: var(--itemSize);
}

#arrowLinks{
	color: #111111;
	font-size: 100px;
	margin-left: auto;
}

#arrowRechts{
	color: #111111;
	font-size: 100px;
	margin-right: auto;
}

#hoverText{
	color: #111111;
	margin-bottom: auto;
	padding-top: 5px;
}
