:root {
	--sideMargin: 90px;
}

* { margin: 0, padding: 0 }

html, body {
	scroll-behavior: smooth;
  background: white;
	margin: 0;
}

h1, h2, h3, h4, p, a {
  margin: 0;
	padding: 0
  color: #c9c9c9;
	color: grey;
  font-family: Roboto;
	text-decoration: none;
}

h1 {
	font-size: 6em;
}

h2 {
	font-size: 3.4em;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 1.4em;
	margin-top: 40px;
	text-align: center;
}

.transparentSec {
	background-color: grey;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 180px var(--sideMargin);
}

.solidSec {
	background-color: white;
  padding: 180px var(--sideMargin);
}

.transparentSec h1, .transparentSec h2, .transparentSec h3, .transparentSec h4 {
	color: white;
}

#landingSec {
	height: 100vh;
	background-image: url("res/profile.jpg");
	display: flex;
  align-items: center;
	padding: 0 var(--sideMargin);
}

.greetingWrapper {
	width: 300px;
}

.icon {
	width: 200px;
	color: white;
	font-size: 200px !important;
	font-weight: lighter;
}

.scrollIcon {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}

.iconWrapper {
	width: 100%;
}

.gridContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 3%;
  row-gap: 40px;
}

.gridItem {
	background-color: lightgrey;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.gridItem h3 {
	color: white;
	text-align: center;
}

.borderDiv {
	border-style: solid;
	color: white;
	padding: 0 0.7em;
	opacity: 0;
	transition: all 0.4s;
}

.gridItem:hover .borderDiv {
	opacity: 1;
}

#gridItem0 {
	background-image: url("res/coreicon.png");
	background-size: 70%;
}

#gridItem1 {
	background-image: url("res/megan.jpg");
}

#gridItem2 {
	background-image: url("res/megan.jpg");
}

#gridItem3 {
	background-image: url("res/monster.jpg");
}

#gridItem4 {
	background-image: url("res/tisch.png");
}

#gridItem5 {
	background-image: url("res/maske.jpg");
}

#skillSec {
	background-image: url("res/berg.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projektHead {
	padding-bottom: 120px;
}

.skillWrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 3%;
	padding-top: 80px;
}

.skillItem {
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

@media only screen and (max-device-width: 800px) {

	.gridContainer{
		grid-template-columns: 1fr 1fr;
	}

	.skillWrapper {
		grid-template-columns: 1fr 1fr;
	}

	.transparentSec {
		background-attachment: scroll;
	}
}

@media only screen and (max-device-width: 600px) {

	.gridContainer{
		grid-template-columns: 1fr;
	}

	.skillWrapper {
		grid-template-columns: 1fr;
	}
}

@@media (prefers-color-scheme: dark) {

}
