#coreLanding {
	background-image: url("res/coreicon.png ");
	background-size: 60%;
	background-repeat: no-repeat;
}

#meganLanding {
	background-image: url("res/megan.jpg ");
}

#rgbledLanding {
  background-image: url("res/monster.jpg");
}

#monsterLanding {
	background-image: url("res/monster.jpg ");
}

#tischLanding {
	background-image: url("res/tisch.png ");
}

#maskeLanding {
  background-image: url("res/maske.jpg");
}

#labpsLanding {
  background-image: url("res/monster.jpg");
}

#mausLanding {
  background-image: url("res/monster.jpg");
}

#contactLanding {
	background-image: url("res/profile.jpg");
}

#dankeLanding {
	background-image: url("res/profile.jpg");
}

.greetingWrapper {
	width: 1500px;
}

.messageField {
	display: flex;
	margin: 180px 0;
	display: grid;
	grid-template-columns: 20% auto;
	row-gap: 20px;
}

#messageInput {
	height: 6em;
}

#submitBtnContact {
	grid-row-end: span 2;
}
